:root {
  --main_color: lightgrey;
  --accent_color: #2f4f4f;
  --bg_color: grey;
}

html {
    font-family: "Arial", sans-serif;
    color: var(--main_color);
}

body {
    background: url("sea.jpg") center center no-repeat;
    background-size: cover;
    background-color: black;
	margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#mainCanvas{
    background-color: white;
	margin: 50px;
    padding: 50px;
    display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	opacity: 0.95;
}

.container{
}

.drop-area{
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: left;
    cursor: pointer;
	overflow: scroll;
    width: 66vw;
    max-width: 800px;
}

.drop-area:hover {
    border: 2px solid #ccc;
}

.drop-text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 50px;
}

.file-list {
    list-style-type: none;
    padding: 0;
    overflow: visible;
    height: 40vh;
}

.file-item {
    margin: 5px 0;
}

.file-name {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
}

.file-remove {
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.box-title{
    font-size: 2vh;
    margin-bottom: 1vh;
}

#uploadButton{
    margin-top: 2vh;
    width: 100%;
    color: lightgrey;
    border-color: var(--accent_color);
    background-color: var(--accent_color);
    height: 50px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    outline: 0;
}

#uploadButton:hover{
    border-color: var(--bg_color);
    background-color: var(--bg_color);
}

.choose-container {
    display: flex;
	flex-direction: row;
	align-items: left;
    color: grey;
    padding: 10px;
    background-color: var(--main_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

#chooseButton{
    outline: 0;
    width: 25%;
    color: lightgrey;
    border-color: grey;
    background-color: grey;
    margin-right: 10px;
}

.file-info-container {
    padding-top: 15px;
    opacity: 1;
    transition: opacity 1s linear;
}

#chooseButton:hover{
    background-color: var(--accent_color);
}

#clearBtn{
    font-size: 25px;
    color: red;
    float: right;
    opacity: 0.5;
}

#clearBtn:hover {
  visibility: visible;
  opacity: 1;
}

#file-input{
    visibility: hidden;
}

.large-bg-icon{
    color: var(--main_color);
    margin-left: 40%;
    font-size: 128px;
    margin-bottom: 40%
}

.small-file-icon {
    color: var(--accent_color);
    margin-right: 10px;
    padding-top: 5px;
    opacity: 0.5;
}

.file-container {
    display: flex;
}

.nav-container {
    width: 100%;
}

.base-icon{
    margin-top: 3vh;
    font-size: 48px;
    color: var(--main_color);
    text-align: left;
}

#alert-box {
    padding: 20px;
    color: var(--main_color);
    position: fixed; /* Position it relative to the viewport */
    top: 40%; /* Adjust this value to position it vertically */
    left: 20%;
    z-index: 100; /* A high z-index value to place it in front of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    height: 100px;
    background: var(--accent_color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    /*-webkit-animation: fadeinout 2s linear forwards;*/
}

@-webkit-keyframes fadeinout {
  0%, 100% { opacity: 0; }
  10%, 80%{ opacity: 1; }
}

.alert-cross{
    color: red;
    float: right;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    border:none;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}