:root {
  --main_color: lightgrey;
  --accent_color: #2f4f4f;
  --alt_color: #008b8b;
  --bg_color: grey;
}

html {
    font-family: "Arial", sans-serif;
    color: var(--main_color);
}

body {
    background: url("sea.jpg") center center no-repeat;
    background-size: cover;
    background-color: black;
	margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#mainCanvas{
    background-color: white;
	margin: 50px;
    padding: 50px;
    display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	opacity: 0.95;
}

.container{
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.button-container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.drop-area{
    display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
    border: 2px dashed;
    border-color: var(--accent-color);
    padding: 20px;
    text-align: left;
    cursor: pointer;
}

.drop-area:hover {
    border: 2px solid;
    border-color: var(--accent-color);
}

.drop-text {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 15px;
}

.box-title{
    font-size: 2vh;
    margin-bottom: 1vh;
}

#uploadButton{
    width: 100%;
    width: 200px;
    border-radius: 5px;
    margin-top: 2vh;
    color: lightgrey;
    border-color: var(--accent_color);
    background-color: var(--accent_color);
    height: 50px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    outline: 0;
}

#uploadButton:hover{
    border-color: var(--bg_color);
    background-color: var(--alt_color);
    border-color: var(--alt_color);
    cursor: pointer;
}

.file-info-container {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    color: var(--bg_color);
    padding: 10px;
}

#clearBtn{
    font-size: 25px;
    color: red;
    float: right;
    opacity: 0.5;
}

#clearBtn:hover {
  visibility: visible;
  opacity: 1;
}

#file-input{
    visibility: hidden;
}

.large-bg-icon{
    width: 100%;
    color: var(--main_color);
    font-size: 128px;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.small-file-icon {
    color: var(--accent_color);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    opacity: 0.5;
}

.file-container {
    display: flex;
}

.nav-container {
    width: 100%;
}

.base-icon{
    margin-top: 3vh;
    font-size: 48px;
    color: var(--main_color);
    text-align: left;
}

.base-icon:hover {
    color: var(--accent_color);
}

#alert-box {
    padding: 20px;
    color: var(--main_color);
    position: fixed; /* Position it relative to the viewport */
    top: 40%; /* Adjust this value to position it vertically */
    left: 20%;
    z-index: 100; /* A high z-index value to place it in front of other content */
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    height: 100px;
    background: var(--accent_color);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
    /*-webkit-animation: fadeinout 2s linear forwards;*/

}

@-webkit-keyframes fadeinout {
  0%, 100% { opacity: 0; }
  10%, 80%{ opacity: 1; }
}

.alert-cross{
    color: red;
    float: right;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    border:none;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.progress-area{
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
	overflow: scroll;
    max-width: 800px;
    list-style-type: none;
    overflow: visible;
    overflow: scroll;
    width: 70vw;
}

.progress-area .row .content{
  width: 90%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: var(--accent_color);
  border-radius: inherit;
}
.uploaded-area{
  width:100%;
  padding-left: 10px;
  height: 15vh;
  max-height: 25vh;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  height: 15vh;
  max-height: 25vh;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 24px;
}