:root {
  --main_color: grey;
  --accent_color: #2f4f4f;
  --bg_color: #212529;
}

html {
    font-family: "Arial", sans-serif;
    color: var(--main_color);
}

body {
    background: url("sea.jpg") center center no-repeat;
    background-size: cover;
    background-color: black;
	margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#mainCanvas{
    background-color: white;
	margin: 5vw;
    padding: 5vw;
    display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	opacity: 0.9;
}

.custom-file-input {
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    width: 80vw;
}

.file-list, .file-input {
    flex: 1;
    padding: 5vw;
    background-color: #f9f9f9;
    min-height: 20vh;
    max-height: 50vh;
    overflow: scroll;
}

ul {
    border: 2px dashed #ccc;
    list-style-type: none;
    padding: 0;
    min-height: 10vh;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.drag-drop {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    min-height: 10vh;
}

.drag-drop:hover {
    border: 2px solid #ccc;
}

#clear-files:hover, #send-files:hover {
    background-color: grey;
}

.file-remove {
	flex-direction: column;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

ul{
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

#file-input{
    color: grey;
    background-color: lightgrey;
    margin-top: 1vh;
    width: 100%;
}

#clear-files, #send-files {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
}

#clear-files{
    margin-top: 1vh;
    width: 100%;
    color: --var(accent_color);
    background-color: lightgrey;
    border-radius:  5px;
}

#send-files{
    margin-top: 1vh;
    width: 100%;
    color: lightgrey;
    border-color: #2f4f4f;
    background-color: #2f4f4f;
    border-radius:  5px;
}

h2{
    color: --var(main_color);
}